:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --slightly-75: hsla(0, 0%, 100%, 0.75);
  --slightly-60: hsla(0, 0%, 100%, 0.6);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 0.9375rem;
  background-color: var(--very-dark-blue);
  min-height: 100vh;
}

/* Main ======================================== */
main {
  min-height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sr-only {
  height: 0;
  width: 0;
  opacity: 0;
}

/* Card ========================================= */

.card {
  display: flex;
  background-color: var(--dark-desaturated-blue);
  border-radius: 0.5rem;
  overflow: hidden;
}

.content {
  width: 35.625rem;
  padding: 4.375rem 4.375rem 0;
}

.title {
  font-family: 'Lexend Deca', sans-serif;
  color: var(--white);
  font-size: 2.3rem;
  font-weight: 400;
}

.title span {
  color: var(--soft-violet);
}

.description {
  color: var(--slightly-60);
  padding: 2rem 3rem 2rem 0;
  line-height: 1.5rem;
}

.stats {
  list-style: none;
  margin-top: 2rem;
  padding-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats li {
  display: flex;
  flex-direction: column;
}

.stats li strong {
  color: var(--white);
  font-size: 1.375rem;
  font-weight: 700;
}

.stats li span {
  color: var(--slightly-60);
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.image-wrap {
  position: relative;
  display: flex;
}

.image-wrap img {
  width: 100%;
}

.image-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
  background: var(--soft-violet);
}

.image-wrap .mobile {
  display: none;
}

/* Using media rule for screen less 1120px =============== */

@media only screen and (max-width: 70rem) {
  .card {
    flex-direction: column-reverse;
  }

  .content {
    width: 100%;
    text-align: center;
    padding: 2.125rem;
  }

  .title {
    font-size: 1.75rem;
  }

  .description {
    padding: 1.25rem 0;
  }

  .stats {
    flex-direction: column;
    margin-top: 1.75rem;
    padding: 0;
  }

  .stats li + li {
    margin-top: 2.125rem;
  }

  .image-wrap .desktop {
    display: none;
  }

  .image-wrap .mobile {
    display: block;
    background-size: auto;
  }
}